* {
    border-radius: 12px;
    font-family: FontAwesome, Roboto Mono, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.2);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.8);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

#workspaces {
    padding: 0 6px;
}

#workspaces button {
    padding: 0;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.visible {
    background: #32393E;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

.module {
    padding: 0 1ex;
    /* border: 1px solid white; */
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #64727D;
}

#window { padding: 0; }

#power-profiles-daemon,
#network,
#idle_inhibitor,
#battery {
    padding-right: 1em;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
